{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock  %}

{% block content %}
    <h1>Home</h1>
    <section id="categories-homepage">
        <h1>Categories</h1>
        <div id="buttons-category">
            {% for category in categories %}
                <a href="{% url 'listings:list' %}?category={{ category.0 }}">
                    <button class="category-button">{{ category.1 }}</button>
                </a>
            {% empty %}
                <p>No categories found in view context.</p>
            {% endfor %}
        </div>
    </section>
{% endblock  %}