<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon2.png' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <div class="outer-nav">
        <nav class="container">
            <a href="/" style="text-align: left;" id="home"><h1>ProductOverdose</h1></a>
            <div id="searchbar">
                <form action="{% url 'listings:list' %}" method="GET">
                    <input type="text" name="search" placeholder="Search All Of ProductOverdose..." value="{{ request.GET.search|default_if_none:'' }}">
                    <button type="submit">Search</button>
                </form>
            </div>
            <a href="{% url 'listings:list' %}"><img src="{% static 'images/list.png' %}" class="nav-icons" alt="listings" title="Listings"></a>
            <a href="{% url 'listings:watchlist' %}"><img src="{% static 'images/bookmark (1).png' %}" class="nav-icons" alt="saved-listings" title="Saved Listings"></a>
            <a href="{% url 'listings:new-listing' %}">
                <img src="{% static 'images/pencil (1).png' %}" class="nav-icons" alt="new-listing" title="New Listing">
            </a>
            {% if user.is_authenticated %}
                <a href="/my_account"><img src="{% static 'images/user (2).png' %}" class="nav-icons" alt="Account Icon" title="My Account"></a>
            {% else %}
                <div class="dropdown">
                    <img src="{% static 'images/user (2).png' %}" class="nav-icons" alt="Account Icon">
                    <div class="dropdown-content">
                        <a href="{% url 'users:register' %}">
                            <span aria-label="My Account">User Registration</span>
                        </a>
                        <a href="{% url 'users:login' %}">
                            <span aria-label="User Login">User Login</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </nav>
    </div>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>