<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <div class="outer-nav">
        <nav class="container">
            <a href="/" style="text-align: left;" id="home"><h1>ProductOverdose</h1></a>
            <div id="searchbar">
                <form action="{% url 'listings:list' %}" method="GET">
                    <input type="text" name="search" placeholder="Search All Of ProductOverdose..." value="{{ request.GET.search|default_if_none:'' }}">
                    <button type="submit">Search</button>
                </form>
            </div>
            <a href="">Categories</a>
            <a href="">Saved Listings</a>
            <a href="{% url 'listings:new-listing' %}">
                <span aria-label="New Listing" title="New Listing">New Listing</span>
            </a>
            {% if user.is_authenticated %}
                <a href="/my_account">My Account</a>
            {% else %}
                <div class="dropdown">
                    <button class="dropbtn">My Account</button>
                    <div class="dropdown-content">
                        <a href="{% url 'users:register' %}">
                            <span aria-label="My Account" title="User Registration">User Registration</span>
                        </a>
                        <a href="{% url 'users:login' %}">
                            <span aria-label="User Login" title="User Login">User Login</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </nav>
    </div>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>