{% extends 'layout.html' %}

{% block title %}
    Listings
{% endblock %}

{% block content %}
    <section>
    <h1>Listings</h1>
    
    {% for listing in listings %}
        <article class="listing">
            <h2>
                
            </h2>
            <p>{{ listing.date }} by {{ listing.author }}</p>
            <p>{{ listing.body }}</p>
        </article>
    {% endfor %}
    {% if results %}
        <div class="section-styling">
            <h1 class="section-text">Results for {{ query }}:</h1>
            <div class="item-cards">
                {% for result in results %}
                    <div class="item-card">
                        <a href="{% url 'listings:page' slug=result.slug %}">
                            <img class="banner" src="{{ result.banner.url }}" alt="{{ listing.title }}">
                            <h1 class"card-title">{{ result.title }}</h1>
                            <h1 class"card-price">${{ result.price }}</h1>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</section>
{% endblock %}