{% extends 'layout.html' %}

{% block title %}
    Listings
{% endblock %}

{% block content %}
    <div class="filter-options">
        <form method="get">
            <div id="buttons-category">
                <div class="filter">
                    <h1>Category</h1>
                    {{ filter.form.category }}
                </div>
                <div class="filter">
                    <h1>Price Range</h1>
                    {{ filter.form.price__gte }} to {{ filter.form.price__lte }}
                </div>
                <div class="filter">
                    <h1>Location</h1>
                    {{ filter.form.location }}
                </div>
                <div class="filter">
                    <h1>Search</h1>
                    {{ filter.form.keyword_search }}
                </div>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    {% if results %}
        <div class="section-styling">
            <h1 class="section-text">Results for {{ query }}:</h1>
            <div class="item-cards">
                {% for result in results %}
                    <a class="item-wrapper" href="{% url 'listings:page' slug=result.slug %}">
                        <div class="item-card">
                            <img class="banner" src="{{ result.banner.url }}" alt="{{ result.title }}">
                            <h1 class="card-title" title="{{ result.title }}">{{ result.title }}</h1>
                            {% comment %} The floatformat thing rounds the decimal up - idk if we want this? {% endcomment %}
                            <h1 class="card-price">${{ result.price|floatformat:"0" }}</h1> 
                            <h1 class="card-location">{{ result.location }}</h1>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}